<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/stylesheets/style-cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
</head>

<body>
    

        <%- include("./partials/header.ejs")%>
        <br><br><br><br>
    <div class="contenedor">
        <main>
            <!---- tarjeta de producto-->
            <% if(cart){ %>
            <% for(let i=0; i< cart.Products.length; i++) { %>
              
            <div class="tarjeta">
                
                    <div class="card mb-3" >
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="/images/Products/<%= cart.Products[i].Picture %>" alt="..." style="max-width: 250px;">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title"><%= cart.Products[i].Name %></h5>
                              <p class="card-text"><%= cart.Products[i].Description %></p>
                              <p class="card-text"><small class="text-muted"><%= cart.Products[i].Brand %></small></p>
                            </div>
                          </div>
                        </div>
                      
                </div>
                <div class="cruz">

                </div>
            </div>
            <% } %>
            <% }else{ %>
                <h3>No tenes productos en el carrito</h3>
                <% } %>
            
            <!---- Botón de pago --->
            <div class="pay">
                <form action='/shop/checkout' method="POST">
                    <button class="btn btn-dark" type="submit"> Checkout </button>
                </form>
            </div>
            <!--- informacion extra-->
        </main>


        <aside>
            <!---- Resumen de pago -->
            <div class="resumen">
                <div class="resum">
                    <span>RESUMEN DEL PEDIDO</span>
                    
                </div>
                <div class="products">
                    <span> 
                        <%= cart.Products.length %> PRODUCTOS</span>
                    <span>
                        <% for(let i=0; i< cart.Products.length; i++) { %>
                            <% var precio = Number (cart.Products[i].Price) %>
                            <% var total = total +precio %>
                            <%= total %> 

                        <% } %>
                    </span>
                </div>
                <div class="deliver">
                    <span>ENVIO</span>
                    <span> Gratis</span>
                </div>
                <div class="total">
                    <span>TOTAL</span>
                    <span>$7800</span>
                </div>
            </div>
            <div class="promoCode">
                <input type="text" placeholder="CODIGO PROMOCIONAL">
                <i class="fas fa-plus-circle"></i>
            </div>
        </aside>


    </div>

<footer>
    <%- include("./partials/footer")%>
</footer>



</body>
</html>