<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <form action="/products/<%=product.id %>/edit" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" placeholder="Ingrese un Id de producto" value="<%= product.Id%>">
        <br>
        <input type="text" name="name" placeholder="Ingrese un nombre" value="<%= product.Name%>">
        <br>
        <input type="number" name="price" placeholder="Precio" value="<%= product.Price%>">
        <br>
        <input type="text" name="description" placeholder="Ingrese descripcion" value="<%= product.Description%>">
        <br>
        <input type="text" name="category" placeholder="Ingrese categoria" value="<%= product.Category%>">
        <br>
        <input type="text" name="size" placeholder="Ingrese talle" value="<%= product.Size%>">
        <br>
        <input type="text" name="color" placeholder="Ingrese color" value="<%= product.Colour%>">
        <br>
        <input type="text" name="brand" placeholder="Marca" value="<%= product.Brand%>">
        <br>
        <label for="image">Agregue una imagen</label>
        <input type="file" name="image" value="<%= product.Image%>">
        <br>
        <button type="submit">Guardar</button>
<!--Chequear mayusculas/minusculas en los product. -->
    </form>
</body>
</html>