<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <%- include("./partials/header.ejs")%>
    <h4>Detalles</h4>
    <p> 
    Id: <%= product.id %> <br>
    Nombre: <%= product.name %> <br>
    Precio: <%= product.price %> <br>
    Descripcion: <%= product.description %> <br>
    Categoria: <%= product.category %> <br>
    Talle: <%= product.size %> <br>
    Color: <%= product.color %> <br>
    Marca: <%= product.brand %> <br>
    Imagen: <%= product.imagen %> <img src="/images/Products/<%= product.imagen %> " alt="Imagen del producto"> <br>

    </p>
    <button><a href="/products/<%= product.id %>/edit">Editar</a></button>

    <%- include("./partials/footer")%>
</body>
</html>