<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link type="text/css" rel="stylesheet" href="magiczoomplus/magiczoomplus.css"/>
    <link rel="stylesheet" href="style-productDetail.css">
</head>
<body>
    <%- include("./partials/header.ejs")%>
    <h4>Detalles</h4>
    <p> 
        <br><br><br><br><br><br>
        Id: <%= product.Id %> <br>
        Nombre: <%= product.Name %> <br>
        Precio: <%= product.Price %> <br>
        Descripcion: <%= product.Description %> <br>
        Categoria: <%= product.Category %> <br>
        Talle: <%= product.Size %> <br>
        Color: <%= product.Colour %> <br>
        Marca: <%= product.Brand %> <br>
        Imagen: <%= product.Picture %><a href="large-image.jpg" class="MagicZoom"><img src="/images/Products/<%= product.Picture %> " alt="Imagen del producto" ></a> <br>
    
        </p>
    <button><a href="/products/<%= product.Id %>/edit">Editar</a></button>

    <%- include("./partials/footer")%>

<script type="text/javascript" src="magiczoomplus/magiczoomplus.js"></script>
</body>
</html>

<!--Chequear mayusculas/minusculas en los product. -->