<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <%- include("./partials/header.ejs")%>
    <h4>Detalles</h4>
    <p> 
    Id: <%= req.params.Id %> <br>
    Nombre: <%= product.Name %> <br>
    Precio: <%= product.Price %> <br>
    Descripcion: <%= product.Description %> <br>
    Categoria: <%= product.Category %> <br>
    Talle: <%= product.Size %> <br>
    Color: <%= product.Colour %> <br>
    Marca: <%= product.Brand %> <br>
    Imagen: <%= product.Picture %> <img src="/images/Products/<%= product.imagen %> " alt="Imagen del producto"> <br>

    </p>
    <button><a href="/products/<%= product.id %>/edit">Editar</a></button>

    <%- include("./partials/footer")%>
</body>
</html>

<!--Chequear mayusculas/minusculas en los product. -->