<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    
    

    
 
    
           

<<<<<<< HEAD
           <form action="/users/<%= user.idusers %>/edit" method="POST">
                <div class="input-fields">
                    <input type="text" name="username" class="input" placeholder="Nombre de Usurio" required="" value="<%= user.username %>">
                </div>   
                <div class="input-fields">
                    <input type="text" name="email" class="input" placeholder="Email" required="" value="<%= user.email %>">
                </div>   
                <div class="input-fields">
                    <input type="password" name="passcrypt" class="input" placeholder="Contraseña" required="">
                </div>           
                <input type="submit" class=button></div>    
            </form>
       
    
=======
    <form action="/users/<%= user.idusers %>/edit" method="POST">
        <h1>Actualiza tus datos de usuario</h1>
>>>>>>> 88eb87261291492c48e3275679cebffe504b5a65

        <div class="mb-3">
            <input class="form-control" type="text" name="username" placeholder="Nombre de Usurio"  aria-label="default input example" value="<%= user.username %>" >
        </div>
        <div class="mb-3">
            <input class="form-control" type="text" name="email" placeholder="Email" aria-label="default input example" value="<%= user.email %>">
        </div>
        <div class="mb-3">
            <input class="form-control" type="text" name="passcrypt" placeholder="Contraseña"  aria-label="default input example" >
        </div>  
        
        <button type="submit" class="btn btn-primary">Guardar</button>
    
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>


